@import "normalize";
@import "fonts.scss";

//---------------- General styles parts start -----------------
html {
  font-family: Rockwell;
  font-size: 16px;
  color: #343433;
}
body {
  background: #ada6a0;
  background: radial-gradient(ellipse at top, #f8f8f7 0%, #ada6a0 40%) no-repeat;
  background-attachment: local;
  background-size: contain;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
//---------------- General styles parts end -----------------
//----------------  Header start -----------------
.logo {
  display: block;
  margin: 2.75rem auto 15px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 5px 50px 15px;
  background: #fff;
  box-shadow: 0 0 5px #000;

  .header_navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 50px;

    .header_navbar_item {
      padding: 20px 30px;
      &:first-child {
        padding-left: 0;
      }
      a {
        text-decoration: none;
        font-family: 'Rockwell', sans-serif !important;
        color: #5b5b5b;
        font-size: 18px;
        font-weight: 400;

        &:hover {
          color: #000;
        }
      }
    }
  }
  .header_navbar_search {
    position: relative;
    .input_search {
      width: 263px;
      border: 1px solid rgba(205, 205, 205, 0.38);
      background-color: #fafafa;
      margin-right: 12px;
      padding-top: 8px;
      padding-bottom: 8px;
      padding-left: 17px;
      font-family: Rockwell;
      font-size: 18px;
      font-style: italic;
      color: #5b5b5b;
      &::-webkit-input-placeholder       {opacity: 0.5; transition: opacity 0.3s ease;}
      &::-moz-placeholder                {opacity: 0.5; transition: opacity 0.3s ease;}
      &:-moz-placeholder                 {opacity: 0.5; transition: opacity 0.3s ease;}
      &:-ms-input-placeholder            {opacity: 0.5; transition: opacity 0.3s ease;}
      &:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
      &:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
      &:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
      &:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}
      &:focus {outline: none; border-color: #fff;}
    }
    .btn_search {
      position: absolute;
      width: 29px;
      height: 23px;
      border: none;
      outline: none;
      background: url('../img/icon_mignifier.png') no-repeat;
      opacity: .5;
      top: 7px;
      left: 245px;
      &:hover {
        opacity: 1;
        cursor: pointer;
      }
    }
  }
}
//----------------  Header end -----------------
//----------------  Carousel start -----------------
.carousel {
  margin: 0 50px 15px;
  background: #fafafa;
  padding: 15px 12px;
  box-shadow: 0 0 5px #000;
  .carousel_slick {
    .carousel_item_1 {
      height: 347px;
      background: url('../img/slide_1.jpg') no-repeat;
      background-size: cover;
    }
    .carousel_item_2 {
      height: 347px;
      background: url('../img/slide_2.jpg') no-repeat;
      background-size: cover;
    }
    .carousel_item_3 {
      height: 347px;
      background: url('../img/slide_3.jpg') no-repeat;
      background-size: cover;
    }
  }
}
//----------------  Carousel end -----------------
//----------------  Panels start -----------------
.panels {
  margin: 0px 50px 15px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  font-size: 12px;
  .panels_item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    padding: 12px;
    background: #fafafa;
    margin-right: 15px;
    box-shadow: 0 0 5px #000;
    &:last-child {
      margin-right: 0;
    }
    .panels_item_photo {
      background-size: cover;
    }
    .panels_item_text {
      height: 118px;
      overflow: hidden;
      text-overflow: ellipsis;
      text-align: justify;
    }
    .panels_item_more {
      align-self: flex-end;
      margin-top: 20px;
      margin-bottom: 10px;
    }
  }
}
//----------------  Panels end -----------------
//----------------  Welcome start -----------------
.welcome {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 50px 15px;
  padding: 11px;
  background: #fff;
  box-shadow: 0 0 5px #000;
  .welcome_image-mosaic {
    margin-right: 15px;
    .first_row {
      display: flex;
      justify-content: space-between;
      .mosaic_item {
        margin: 4px;
        width: 105px;
        height: 80px;
      }
    }
    .second_row {
      display: flex;
      justify-content: space-between;
      .mosaic_item {
        margin: 4px;
        width: 105px;
        height: 80px;
      }
    }
  }

  .welcome_text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    h3 {
      margin-top: 0;
    }
    p {
      font-size: 12px;
      height: 90px;
      overflow: hidden;
      text-overflow: ellipsis;
      text-align: justify;
    }
    .welcome_items_more {
      align-self: flex-end;
      font-size: 12px;
    }
  }
}
//----------------  Welcome end -----------------
//----------------  Footer star -----------------
.footer {
  margin: 0px 50px 50px;
  background: #fff;
  box-shadow: 0 0 5px #000;
  font-family: Calibri;
  font-size: 14px;
  color: #545454;
  padding: 22px;

  .terms {
    margin-right: 20px;
  }
  .privacy {
    margin-right: 20px;
  }
  .copyright {
    a {
      text-decoration: none;
      color: inherit;
      &:hover {
        color: #000;
      }
    }
  }
}
//----------------  Footer end -----------------
